<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>
<% @schedules.each do |schedule| %>
  <%if schedule.orders.present?%>
    <div class="card mt-2" style="width: 18rem;">
      <div class="card-header">
        <%=schedule.slot%>
      </div>
      <ul class="list-group">
        <%=schedule.orders.each do |order|%>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <h6 class="card-subtitle mb-2 text-muted"><%=order.quantity%></h6> <%=link_to "Voir la commande", order_path(order)%>
          </li>
        <%end%>
      </ul>
    </div>
  <%end%>
<%end%>
