        <!-- Masthead-->
<header >
  <div class="container text-center">
    <button type="button" class="btn btn-primary btn-xl text-uppercase" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Réserver en ligne
    </button>
    <%=render 'modal'%>
  </div>
  <div class="header-kb"></div>
</header>
