<!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Nous trouver</h2>
                </div>
                <div class="row text-center">
                    <div class="col-md">
                        <span class="fa-stack fa-3x">
                            <i class="fa fa-regular fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-utensils fa-stack-1x"></i>
                        </span>
    




                        <h4 class="my-3">Lundi</h4>
                        <p class="text-muted">Parking Neotoa, 41 Bd de Verdun, Rennes</p>
                    </div>
                    <div class="col-md">
                        <span class="fa-stack fa-3x">
                            <i class="fa fa-regular text-primary fa-circle fa-stack-2x"></i>
                            <i class="fas fa-burger fa-stack-1x "></i>
                        </span>
                        <h4 class="my-3">Mardi</h4>
                        <p class="text-muted">Brasserie Skumenn, impasse des Charmilles, Cesson-Sévigné</p>
                    </div>
                    <div class="col-md">
                        <span class="fa-stack fa-3x">
                            <i class="fa fa-regular text-primary fa-circle fa-stack-2x"></i>
                            <i class="fas fa-cheese fa-stack-1x"></i>
                        </span>
                        <h4 class="my-3">Mercredi</h4>
                        <p class="text-muted"> Le Mabilay, 9 rue du Mabilais, Rennes</p>
                    </div>
                    <div class="col-md">
                        <span class="fa-stack fa-3x">
                            <i class="fa fa-regular fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-wine-glass fa-stack-1x "></i>
                        </span>
                        <h4 class="my-3">Jeudi</h4>
                        <p class="text-muted">Quartier Les Longs Champs, rue de Jouanet, Rennes</p>
                    </div>
                    <div class="col-md">
                        <span class="fa-stack fa-3x">
                            <i class="fa fa-regular fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-cookie-bite fa-stack-1x"></i>
                        </span>
                        <h4 class="my-3">Vendredi</h4>
                        <p class="text-muted">Centre d'affaires Oberthur, 74G rue de Paris, Rennes</p>
                    </div>
                </div>
            </div>
        </section>