label {
    display: flex;
    align-items: center;
    margin: 15px 20px;
    cursor: pointer;
    font-size: 20px;
  }

label input[type="radio"] {
    opacity: 0;
  }
  
  .design {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    outline-offset: 3px;
    outline: 3px solid #888888;
    margin-right: 20px;
  }

label input[type="radio"]:checked~.design {
    outline-color: #f5a607;
    background: #a90a9c;
  }
  
  input[type="radio"]:checked~.value {
    color: #a90a9c;
  }

  .buttons {
    background: #dfdfdf;
    padding: 4px;
    border-radius: 3px;
    position: relative;
    width: fit-content;
  }

  .buttons input {
    appearance: none;
    cursor: pointer;
    border-radius: 2px;
    padding: 5px 10px;
    background: #3f414d;
    color: #ececec;
    font-size: 15px;
    font-family: sans-serif;
    transition: all 0.1s;
  }

  .buttons input:checked {
    background: #c926bb;

  }

  .buttons input::before {
    content: attr(label);
    text-align: center;
  }

  .header-kb{
    background: url("kb_logo.jpg") no-repeat center center;
    height: 440px;
  }

/*****************/
/* SChEDULE FORM */
/*****************/

  .choose-schedule {
    display: flex;
    justify-content: center;
  }

  .choose-schedule .panel-default{
    /* padding: 31%; */
}
.choose-schedule .panel-body{
  min-width: 300px;
  max-width: 540px;
  padding: 15%;
    margin-bottom: -50%;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*************/
/* TIME LINE */
/*************/

.timeline-1 {
  border-left: 3px solid #b565a7;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(177, 99, 163, 0.09);
  margin: 0 auto;
  position: relative;
  padding: 50px;
  list-style: none;
  text-align: left;
  max-width: 60%;
}

@media (max-width: 767px) {
  .timeline-1 {
    max-width: 98%;
    padding: 25px;
  }
}

.timeline-1 .event {
  border-bottom: 1px dashed #000;
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}

@media (max-width: 767px) {
  .timeline-1 .event {
    padding-top: 30px;
  }
}

.timeline-1 .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline-1 .event:before,
.timeline-1 .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline-1 .event:before {
  left: -207px;
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}

@media (max-width: 767px) {
  .timeline-1 .event:before {
    left: 0px;
    text-align: left;
  }
}

.timeline-1 .event:after {
  -webkit-box-shadow: 0 0 0 3px #b565a7;
  box-shadow: 0 0 0 3px #b565a7;
  left: -55.8px;
  background: #fff;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  content: "";
  top: 5px;
}

@media (max-width: 767px) {
  .timeline-1 .event:after {
    left: -31.8px;
  }
}

.modal.in {
  display:block;
}

/***************/
/* ICON BUTTON */
/***************/


.icon-primary {
  color: #ffc800;
}
.icon-primary:hover {
  color: #d9aa00;
  border-color: #cca000;
  cursor : pointer;
}