label {
    display: flex;
    align-items: center;
    margin: 15px 20px;
    cursor: pointer;
    font-size: 20px;
  }

label input[type="radio"] {
    opacity: 0;
  }
  
  .design {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    outline-offset: 3px;
    outline: 3px solid #888888;
    margin-right: 20px;
  }

label input[type="radio"]:checked~.design {
    outline-color: #f5a607;
    background: #a90a9c;
  }
  
  input[type="radio"]:checked~.value {
    color: #a90a9c;
  }

  .buttons {
    background: #dfdfdf;
    padding: 4px;
    border-radius: 3px;
    position: relative;
    width: fit-content;
  }

  .buttons input {
    appearance: none;
    cursor: pointer;
    border-radius: 2px;
    padding: 5px 10px;
    background: #3f414d;
    color: #ececec;
    font-size: 15px;
    font-family: sans-serif;
    transition: all 0.1s;
  }

  .buttons input:checked {
    background: #c926bb;

  }

  .buttons input::before {
    content: attr(label);
    text-align: center;
  }

  .header-kb{
    background: url("kb_logo.jpg") no-repeat center center;
    height: 440px;
  }

  .choose-schedule .panel-default{
    padding: 31%;
    margin-top: -27%;
}
.choose-schedule .panel-body{
    padding: 15%;
    margin-bottom: -50%;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}